<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="paro_digiquartz" params="name parent_link xyz rpy">
  <!-- First, define the link -->
  <link name="${name}">
    <visual>
      <origin xyz="0 0 0.1217" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0275" length="0.2433"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <!-- Now apply the offsets -->
  <joint name="base_to_${name}" type="fixed">
    <parent link="${parent_link}"/>
    <child link="${name}"/>
    <origin xyz="${xyz}" rpy="${rpy}"/>
  </joint>

  <!-- TODO: Gazebo plugin to actually take measurements! -->

</xacro:macro>

</robot>

