<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="paro_digiquartz" params="name parent_link xyz rpy **sim">
  <!-- First, define the link -->
  <link name="${name}_link">
    <visual>
      <origin xyz="0 0 0.1217" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0275" length="0.2433"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>
   <!-- Now apply the offsets -->
  <joint name="base_to_${name}" type="fixed">
    <parent link="${parent_link}"/>
    <child link="${name}_link"/>
    <origin xyz="${xyz}" rpy="${rpy}"/>
  </joint>

  <!-- Gazebo sim stuff, if applicable -->
  <xacro:insert_block name="sim"/>
</xacro:macro>

</robot>

