<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="paro_digiquartz" params="name parent_link xyz rpy robot_namespace topic">
  <!-- First, define the link -->
  <link name="${name}_link">
    <visual>
      <origin xyz="0 0 0.1217" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0275" length="0.2433"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>
  <gazebo reference="${name}_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="${parent_link}">
    <sensor name="${name}_sensor" type="dsros_depth">
      <always_on>1</always_on>
      <update_rate>5.000</update_rate>
      <pose frame="">${xyz} ${rpy}</pose>
      <plugin name="${name}_sensor_controller" filename="libdsros_ros_depth.so">
          <robotNamespace>${robot_namespace}</robotNamespace>
          <topicName>${topic}</topicName>
          <frameName>world</frameName>
          <updateRateHZ>5</updateRateHZ>
          <!-- Actually in decibars, but pretty close to meters -->
          <gaussianNoise>0.005</gaussianNoise>
      </plugin>
    </sensor>
  </gazebo>

  <!-- Now apply the offsets -->
  <joint name="base_to_${name}" type="fixed">
    <parent link="${parent_link}"/>
    <child link="${name}_link"/>
    <origin xyz="${xyz}" rpy="${rpy}"/>
  </joint>
</xacro:macro>

</robot>

