<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="rdi_workhorse_300" params="name parent_link xyz rpy **sim">
  <!-- First, define the link -->
  <link name="${name}">
    <visual>
      <origin xyz="0 0 0.0874" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.1115" length="0.218"/>
      </geometry>
      <material name="green"/>
    </visual>
  </link>
  <!-- Now apply the offsets -->
  <joint name="base_to_${name}" type="fixed">
    <parent link="${parent_link}"/>
    <child link="${name}"/>
    <origin xyz="${xyz}" rpy="${rpy}"/>
  </joint>

  <!-- Gazebo sim stuff, if applicable -->
  <xacro:insert_block name="sim"/>
  
</xacro:macro>

</robot>

