<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find dsl_sim)/sensors/phins.xacro"/>
<xacro:include filename="$(find dsl_sim)/sensors/paro.xacro"/>
<xacro:include filename="$(find dsl_sim)/sensors/rdi300.xacro"/>
<xacro:include filename="$(find dsl_sim)/sensors/xeos_gps.xacro"/>
<xacro:include filename="$(find dsl_sim)/sensors/avtrak.xacro"/>

</robot>

